* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Human BBY Web";
}

.main-header {
  padding: 0 calc((100% - 78rem) / 2);
  background-color: #0046be;
}

.top-links {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.top-links ul {
  display: flex;
  color: white;
  font-weight: 400;
  list-style-type: none;
  gap: 8px;
}

.top-links ul li {
  cursor: pointer;
}

.logo-and-search {
  display: flex;
  gap: 3rem;
}

.logo-and-search svg {
  width: 82px;
  height: 48px;
}

.site-searchbox input {
  height: 100%;
  padding: 0 1rem;
  outline: none;
}

.account-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.account-links .links ul {
  display: flex;
  gap: 2rem;
}

.account-links .links ul {
  list-style-type: none;
  color: white;
  fill: white;
}
.account-links .links ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}

.account-links .links svg {
  width: 24px;
  height: 24px;
}

.main-links {
  background-color: #003da6;
  /* padding: 1rem; */
  padding: 1rem calc((100% - 78rem) / 2);
}

.main-links ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.main-links ul li {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

.main-links svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.brief-info {
  max-width: 78rem;
  margin: 0 auto;
  padding: 3rem 0;
}

.brief-info h3 {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 400;
}

.brief-info .banner {
  position: relative;
}

.brief-info .watch-party-sale {
  position: absolute;
  right: 37%;
  top: 30%;
}

.filter-and-posts {
  max-width: 78rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 275px 1fr;
  gap: 1.5rem;
}

.filter-and-posts aside {
  border-right: 2px solid #e0e6ef;
}

.filter-and-posts aside ul li {
  height: 3.5rem;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e6ef;
  padding-right: 1rem;
}

.filter-and-posts aside ul li:hover {
  background: #e1e7ef;
  color: #0b4dbf;
  cursor: pointer;
}

.filter-and-posts aside ul svg {
  width: 20px;
  height: 20px;
  fill: #55555a;
  padding-right: 1px;
}

.link-with-alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f9fc;
  padding: 10px 15px;
  border-radius: 8px;
  gap: 15px;
}
.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 18px;
  transition: 0.3s;
}
.slider:before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
input:checked + .slider {
  background-color: #007bff;
}
input:checked + .slider:before {
  transform: translateX(18px);
}
.sort-dropdown {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.content .items {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.content .items > * {
  width: 23%;
}

.content .items article {
  color: rgb(29, 37, 44);
  font-size: 14px;
}

.content .items article .prices {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.prices .cost {
  font-size: 18px;
  color: rgb(187, 6, 40);
  font-weight: 600;
}

.prices .save {
  font-size: 12px;
  font-weight: 400;
  color: rgb(187, 6, 40);
}

.items article .ehf {
  color: rgb(82, 89, 102);
  font-size: 12px;
  margin-top: 4px;
}

.available-to-ship {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 1rem;
}

.stars-and-reviews {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.stars-and-reviews .stars {
  display: flex;
}

.stars-and-reviews .stars > * {
  width: 16px;
  height: 16px;
  fill: red;
}

.reviews-count {
  font-size: 12px;
}

.top-deal-label {
  margin-top: 1rem;
  background-color: #bb0628;
  color: white;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
}

.end-of-list {
  margin: 0 1.5rem;
  margin-top: 3.5rem;
  text-align: center;
  background-color: #f4f6f9;
  padding: 1.5rem 0;
  color: rgb(85, 85, 90);
}

.similar-products {
  border-top: 1px solid #e0e6ef;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 600;
  color: rgb(29, 37, 44);
}

.border-bottom-div {
  height: 1px;
  background-color: #e0e6ef;
}

.site-benefits {
  width: 59rem;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  padding: 3rem 0;
}

.site-benefits article svg {
  width: 40px;
  height: 40px;
  fill: #0046be;
}

.site-benefits article {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.site-benefits article p {
  max-width: 60%;
  color: rgb(0, 70, 190);
  font-weight: 700;
}

.main-footer {
  width: calc((100% - 350px));
  margin: 0 auto;
  display: grid;
  grid-template-columns: 8fr 4fr;
  min-height: 500px;
}

.subscription {
  border-left: 1px solid #e0e6ef;
  padding-left: 1.5rem;
}

.site-footer {
  background-color: #f4f6f9;
  padding-top: 1.5rem;
}

.main-footer .footer-links {
  display: flex;
  flex-wrap: wrap;
}

.main-footer .footer-links > * {
  width: 33%;
}

.main-footer .footer-links article > p {
  font-weight: 14px;
  color: rgb(26, 31, 41);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.main-footer .footer-links article ul {
  list-style-type: none;
  padding-left: 4px;
}

.footer-links li {
  padding: 0.5rem 0;
}

.subscription > * {
  margin-bottom: 1rem;
}

.first-to-know {
  color: rgb(26, 31, 41);
  font-weight: 600;
}

.the-how {
  font-weight: 600;
  cursor: pointer;
  color: rgb(0, 70, 190);
}

/* TEST */

.signup-container {
  display: flex;
  max-width: 320px;
}

.email-input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 14px;
  outline: none;
  padding: 1rem 0.5rem;
}

.signup-button {
  padding: 8px 20px;
  background-color: #0052cc;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.signup-button:hover {
  background-color: #0043a4;
}

.social-icons {
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapping-info {
  padding: 1rem calc((100% - 78rem) / 2);
  font-weight: 400;
}

.wrapping-info .address {
  color: rgb(85, 85, 90);
  font-size: 10px;
}

.wrapping-info .links {
  margin-top: 1rem;
  font-size: 12px;
  color: rgb(29, 37, 44);
}

.wrapping-info .links ul {
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
}
